.btn_primary{
    background-color: $main-color;
    border: 1px solid $main-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: $secondary;
    width: 100%;
    position: relative;
    transition: 0.4s;
}

.btn_primary:hover{
    background-color: $main-dark;
    border: 1px solid $main-dark;
    box-shadow: 0px 3px 10px rgba($main-dark, 0.6);
}