#slider {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#slider .prev,
#slider .next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  font-size: 48px;
  color: $main-color;
  background-color: rgba(black, 0.5);
}

#slider .prev:hover,
#slider .next:hover {
  color: $main-dark;
  cursor: pointer;
}

#slider figure {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#slider figure img {
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  #slider figure img {
    position: relative;
    height: unset;
    width: 100%;
  }
}
