#register {
  margin-bottom: 200px;
}

#register .btn_primary {
  display: block;
  width: auto;
}

.choixRole {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 20px;
}

.choixRole h4 {
  font-size: 1.2rem;
}

.choixRole p {
  font-style: italic;
}

.choixRole div {
  border: 1px solid $main-color;
  padding: 10px;
  transition: 0.4s;
}

.choixRole div:hover {
  cursor: pointer;
}

.choixRole div.selected {
  background-color: $main-color;
}

.formRole {
  display: none;
}

.formRole.displayed {
  display: block;
}

@media (min-width: 768px) {
  #register .btn_primary {
    width: 30%;
  }
}
