@font-face {
    font-family: 'Roboto';
    src: url('../../font/roboto-regular1-webfont.woff2') format('woff2'),
         url('../../font/roboto-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../font/sourcesanspro-regular1-webfont.woff2') format('woff2'),
         url('../../font/sourcesanspro-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster';
    src: url('../../font/lobster-regular1-webfont.woff2') format('woff2'),
         url('../../font/lobster-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$text: 'Roboto';
$title : 'Source Sans Pro';
$header : 'lobster';