{% extends 'base.html.twig' %}

{% block body %}
<article>
<figure>
    <img src="../"/>
</figure>
<div>
    <h1>{{service.nom}}</h1>
    <p>{{service.description}}</p>
</div>
</article>
{% endblock %}
