{% extends 'base.html.twig' %}

{% block body %}
<article>
<figure class="banner_container">
    {% include 'components/banner.html.twig' %}
</figure>
<div class="services_infos">
    <h1>{{service.nom}}</h1>
    <p>{{service.description}}</p>
</div>
</article>
{% endblock %}
