<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Annuaire Bien-Être{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/main.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="fluid-container">
            {% include 'components/header.html.twig' %}
        </div>
        {% endblock %}
        <div class="container">
            <div class="row">
                {% block aside %}
                <div class="col-12 col-xs-12 col-md-4 col-lg-3 col-xl-3">
                    {% include 'components/aside.html.twig' %}
                </div>
                {% endblock %}
                <div class="col-12 col-xs-12 col-md-8 col-lg-9 col-xl-9">
                    {% include 'components/slider.html.twig' %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'components/footer.html.twig' %}
    </body>
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/34fc05a1ac.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{asset('script/bootstrap/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{asset('script/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('script/main.js')}}"></script>
    {% endblock %}
</html>
