<aside>
                        <div class="wrapper" id="connexion">
                            <h2>Se connecter</h2>
                            <div class="wrapper_content">
                                <form>
                                <div class="form-group">
                                    <label>Nom d'utilisateur</label>
                                    <input type="text" class="username form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    <input type="password" class="password form-control"/>
                                </div>
                                <div class="form-check flex-around">
                                    <div>
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                                    </div>
                                    <a href="#">S'inscrire</a>
                                </div>
                                <input type="submit" value="Connexion" class="btn_primary"/>
                                </form>
                            </div>
                        </div>
                        <div class="wrapper" id="recherche">
                            <h2 id="titre_recherche"><i class="fas fa-angle-down icon"></i> Rechercher</h2>
                            <div class="wrapper_content" id="recherche_content">
                                <form>
                                <div class="form-group">
                                    <label>Nom d'un prestataire</label>
                                    <input type="text" class="username form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Code postal</label>
                                    <input type="number" class="username form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Localité</label>
                                    <input type="text" class="username form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>Commune</label>
                                    <input type="text" class="username form-control"/>
                                </div>
                                <input type="submit" value="Rechercher" class="btn_primary"/>
                                </form>
                            </div>
                        </div>
                        <div class="wrapper" id="categories">
                            <h2>Catégories</h2>
                            <div class="wrapper_content">
                                <form>
                                <div class="form-group">
                                    <label>Catégories</label>
                                    <select class="form-select" aria-label="Default select example">
                                    {% for categorie in categories %}
                                    <option value='{{categorie.id}}'>{{categorie.nom}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                {# <input type="submit" value="Rechercher" class="btn_primary"/> #}
                                </form>
                            </div>
                        </div>
                    </aside>