<footer>
            <div class="row">
                <div class="col-12 col-xs-12 col-md-6 col-lg-6">
                    <p class='title'>Annuaire Bien-Être</p>
                </div>
                <div class="col-12 col-xs-12 col-md-6 col-lg-6 menu_container">
                    <span class='menu'><a href="{{path('home')}}">Accueil</a></span></a>
                    <span class='menu'><a href="#">Newsletter</a></span></a>
                    <span class='menu'><a href="#">Nous contacter</a></span></a>
                    <span class='menu'><a href="#">À propos</a></span></a>
                </div>
            </div>
        </footer>