<div class="header">
                <div class="logo"><a href="{{path('home')}}"><img src="{{asset('img/logo.png')}}" alt="Bien-Être"></a></div>
                <div class="header_banner">
                    <span>Annuaire</span>
                    <span>Bien-Être</span>
                </div>
            </div>