<div id="slider">
    <div class="prev"><i class="fas fa-angle-left"></i></div>
    <figure class="img">
        <img src="{{asset('img/banner/2.jpg')}}">
        <img src="{{asset('img/banner/1.jpg')}}">
    </figure>
    <div class="next"><i class="fas fa-angle-right"></i></div>
</div>