<div id="slider">
    <div class="prev"><i class="fas fa-angle-left"></i></div>
    <figure class="img"><img src="banner.jpg"></figure>
    <div class="next"><i class="fas fa-angle-right"></i></div>
</div>