{% extends 'base.html.twig' %}

{% block square %}
{% endblock %}

{% block body %}
<div class="container" id="gestion_category">
<h2 class="title_category">Mes services</h2>
<h2 class="title_category">Ajouter un service</h2>
{{form}}
</div>
{% endblock %}
